page-availablespace {
    

    #map{
        width: 100%;
        height : 100%;
    }

    .spacetypeimg
    {
        display: block;
         margin-left: auto;
          margin-right: auto;
    }

    .red
    {
        color: red;
    }
}
