page-bookmark {

    // .content{
        
    //     background-position: center center;
    //     background-repeat: no-repeat;
    //     background-attachment: fixed;
    //     background-size: cover;
    //}

    .card{
        box-shadow:  10px 10px 30px -5px rgba(124, 119, 119, 0.5);
    }

    .font{
        font-size: 80%;
        padding: 0 !important;
    }

    .smalltext{
        font-size: 50%;
    }

    .item-inner {
        padding: 0px !important;
    }

    .input-wrapper{
        padding: 0px !important;
    }

    .btnfont{
        //margin-bottom: 20%;
        font-size:50%; 
        position: sticky;
        //bottom: 0;
    }

    .bookmark {
        font-size: 20px;
        color: #009688;
    }
}